<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>sample.servlet.HelloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestServlet</servlet-name>
        <servlet-class>sample.servlet.RequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MChoiceServlet</servlet-name>
        <servlet-class>sample.servlet.MChoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LifeCycleServlet</servlet-name>
        <servlet-class>sample.servlet.LifeCycleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>sample.servlet.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectServlet</servlet-name>
        <servlet-class>sample.servlet.RedirectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResServlet</servlet-name>
        <servlet-class>sample.servlet.ResServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/HelloServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestServlet</servlet-name>
        <url-pattern>/RequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MChoiceServlet</servlet-name>
        <url-pattern>/MChoiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LifeCycleServlet</servlet-name>
        <url-pattern>/LifeCycleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectServlet</servlet-name>
        <url-pattern>/RedirectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResServlet</servlet-name>
        <url-pattern>/ResServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>httpRequestDemo.html</welcome-file>
    </welcome-file-list>
</web-app>
