/*
© 2021 tienhuynh.lttn
All rights reserved!
For more information, please contact via my email: tien.huynhlt.tn@gmail.com
*/
/* 
    Created on : Nov 1, 2021, 10:07:43 PM
    Author     : Huynh Le Thuy Tien
*/

.container {
    color: #241f4d;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    font-size: 1.4rem;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 3.0rem;
    font-weight: 700;
    margin: 20px auto;
}

.welcome, .logout {
    font-size: 1.4rem;
}

.search, .result {
    width: 90%;
    display: flex;
    align-items: center;
}

.result {
    flex-direction: column;
}

form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-content {
    font-size: 1.6rem;
    text-align: center;
    margin: 0 10px;
}

.text-box {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
}

.text-box:focus {
    border: 1px solid #000;
}

.search-box {
    width: 50%;
    margin: 0 10px;
}

.btn{
    color: #fff;
    background-color: #241f4d;
    text-decoration: none;
    padding: 11px 16px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
}

.btn:hover{
    background-color: #ccc;
    color: #241f4d;
}

.error {
    font-size: 1.4rem;
    color: red;
    font-weight: bolder;
}

table {
    border-collapse: collapse;
    font-size: 1.6rem;
    margin: 20px auto;
}

table th {
    font-weight: bolder;
    padding: 10px 10px;
    font-size: 1.8rem;
}

table td {
    padding: 6px 10px;
}

.delete {
    color: #fff;
    background-color: #241f4d;
    text-decoration: none;
    padding: 6px 16px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
}

.delete:hover{
    background-color: #ccc;
    color: #241f4d;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border: 2px solid #241f4d;
    border-radius: 20px;
    margin: 20px;
}

.info {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center
}

img {
    margin: 10px;
    padding: 2px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #241f4d;
}