/*
© 2021 tienhuynh.lttn
All rights reserved!
For more information, please contact via my email: tien.huynhlt.tn@gmail.com
*/
/* 
    Created on : Nov 2, 2021, 12:44:27 AM
    Author     : Huynh Le Thuy Tien
*/

.container {
    color: #241f4d;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 3.0rem;
    font-weight: 700;
    margin: 20px auto;
}

.result {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

table {
    border-collapse: collapse;
    font-size: 1.6rem;
    margin: 20px auto;
}

table th {
    font-weight: bolder;
    padding: 10px 10px;
    font-size: 1.8rem;
}

table td {
    padding: 6px 10px;
}

.btn{
    color: #fff;
    background-color: #241f4d;
    text-decoration: none;
    padding: 11px 16px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
}

.btn:hover{
    background-color: #ccc;
    color: #241f4d;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 1.4rem;
}

